button{
    margin: 2%;
}

.row1{
    text-align: start;
margin: 0%;
}

.text-area{
    margin-top: 2%;
    text-align: start;
}

label{
    font-weight: bold;
}
form{
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
align-items: center;

 
}

