.footer {
  margin-top: 4rem;
  padding: 0.5rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
}

svg {
  width: 5%;
}

.skills-text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: x-large;
  margin-top: 20px;
  color: blue;
}
