.header-images {
    /* list-style-type: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
    /* padding-top: 0.5em;  */
    /* padding:0%; */
    margin: 0%; 
   }

   ul{
     padding:0;
      }

  .header-img{
      height: 300px;
  }
  .header-images:hover .header-img {
    opacity: 0.3;
  }
  
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-images:hover .middle {
    opacity: 1;
  }
  ul{
    list-style-type: none;
}

.text {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

/* .child-container{
  width:50%;
  height: 50%;
} */




.Poonam-img{
  max-width: 60%;
  margin-right: 28%;
}

.homeSection{
  display: flex;
  padding-top: 2%;
}

.child-container-1{
  margin-left: 14%;
  text-align: start;
}